# Q1

operators are used to create the mathematical operations and values are assingend to variables

'*' 'is a multiplication operator'<br>
'hello' is a string value <br>
-87.8 is a floating value <br>
'-' is subtract operator <br>
 ' / ' it does division of two numbers and gives quotient <br>
 '+' it is used as an adition operator and also it can add any two same type of data types<br>
 6 it is a value and is data type is integer

In [4]:
x = -87.8

In [5]:
type(x)

float

In [7]:
a = 10
b = 5
c= a/b
print(c)
#so here the answer is the quotient

2.0

In [8]:
x = 'mukesh'
y = 'choudhary'
x + y

'mukeshchoudhary'

In [9]:
q = 3
w = 4
q + w

7

# Q2

A variable is is a container which contains an information in form of number of alaphabet or any imaginary data<br>
also variable always start with alaphabet or underscore <br>

Where as string is always writien in '' and inside this '' any thing will be considerd as string data type <br>
so as per the question here spam is a variable and 'spam' is a string

In [19]:
spam= 6

In [21]:
x = 'spam'
type(x)

str

# Q3

there are three types of data forms<br>
1)integer <br>
2)float <br>
3) string<br>

# Q4

expression

# Q5

# Q6

In [23]:
bacon = 22
bacon + 1
#bacon contains 23

23

 # Q7

In [24]:
'spam' + 'spamspam'

'spamspamspam'

In [25]:
'spam' * 3
#both the equation gives a same output

'spamspamspam'

# Q8

In [26]:
eggs = 10
#here eggs is a  true variable beacuse it starts with an alaphabet which is a way one of the correct way of creating a variable

In [ ]:
100 # is a integer it cannot be a variable since variable name cannot start from a number

# Q9

In [30]:
a = int(input(''))
b = float(input(''))
c = str(input(''))
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

# Q10

In [34]:
'I have eaten' + '99' + 'burritos.'
#here the error is that we can concatenate only same data types so string and int are different data types of + operation cannot be done 
# to solve this error just type 99 in '' so that it will be considered as string and then all there of them will be of same data types and there wont be any error

'I have eaten99burritos.'